---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I have been working as a Machine Learning Engineer at the Innovation Center of Yinhua Fund Management Co., Ltd, a leading public fund in mainland China since the summer of 2020.
  </p>

  <p>
  I completed my Master's degree in Applied Statistics at the University of Michigan, Ann Arbor in 2020, supervised by <a href="https://lsa.umich.edu/stats/people/faculty/kshedden.html" target="_blank">Kerby Shedden</a>. Prior to that, I earned my Bachelor's degree in Statistics from the School of Mathematics and Statistics at Wuhan University.
  </p>

  <p>
      My current interests focus on (1) <b>general theories of Machine Learning and Deep Learning methods</b>, including generative models and reinforcement learning; (2) <b>analysis of large language models</b>, such as effective fine-tuning models for specific domains, distillation of LLMs and evaluating and assessing the performance of LLMs; (3) <b>computational finance</b>, specifically the analysis of financial time series data.
  </p>

  <p>
      Not only working in the industry has fostered resilience within me, enabling me to maintain a steadfast approach even in the face of obstacles, it also has heightened my understanding of the importance of delving deep into technology. Simultaneously, the continuous advancements and innovations in the field of technology have ignited a passion within me, compelling me to become a part of the community of explorers.
  </p>

  <p>
      Currently, I am <b>actively seeking opportunities to pursue a Ph.D.</b>
  </p>

</div>


<!-- ========== COURSES ========== -->
<div class="docs-section" id="courses">
  <h4>Courses</h4>
  <p>
    Featured Courses include:
    <dl style="PADDING-LEFT: 40px">
    <dt><b>EECS 595/LING 541 Natural Language Processsing</b></dt>
    <dd><b>Presented by Prof. <a href="https://web.eecs.umich.edu/~chaijy/" target="_blank">Joyce Y. Chai</a></b></dd>
  <dd>This course introduces modern Natural Language Processing (NLP) technologies, which involve computational models and algorithms for processing human languages. It covers topics such as syntax, semantics, discourse, deep learning for NLP, and their applications in information extraction, machine translation, and dialogue systems. </dd>
    <dt><b>STATS 503 Statistical Learning</b></dt>
    <dd><b>Presented by Prof. <a href="https://dept.stat.lsa.umich.edu/~jizhu/" target="_blank">Ji Zhu</a></b></dd>
  <dd>This course uses R as the programming language and provides a comprehensive introduction to, as well as practical implementation of, classic statistical learning algorithms. It covers regression methods and classification methods in supervised learning, as well as clustering algorithms in unsupervised learning.</dd>
    <dt><b>EECS 598 Special Topic: Computational Data Science</b></dt>
    <dd><b>Presented by Prof. <a href="https://rajrao.engin.umich.edu/" target="_blank">Raj Rao Nadakuditi</a></b></dd>
  <dd>This course utilizes Julia as the programming language and extensively covers the principles and broad applications of Singular Value Decomposition (SVD). Topics include classification, principal component analysis, image denoising, image alignment, video processing, and more.</dd>
    </dl>
  You can access my full transcipt <a href={{ "/assets/transcript/Transcript_guanghui_Umich.pdf" | prepend: site.baseurl }} target="_blank">here</a>. A transcript during my undergraduate education can be found <a href={{ "/assets/transcript/Transcript_guanghui_WHU.pdf" | prepend: site.baseurl }} target="_blank">here</a>.
  </p>

</div>


<!-- ========== PROSPECTIVE-STUDENTS ==========
<div class="docs-section" id="prospective-students">  
  <h4>Prospective Students</h4>
  <p>
  <b>I'm recruiting PhD students to start Fall 2023 at the University of Washington! </b>
  I'm especially looking for students with a background and/or interest in <i>social network analysis, machine learning, causal inference, or natural language processing</i>, and are passionate about using computational methods to study how online social platforms can be reimagined to <i>enable better conversations, bridge political divides, and reduce the spread of misinformation</i>. 
  If you are interested, please apply to the UW iSchool <a href="https://ischool.uw.edu/programs/phd/admissions" target="_blank">PhD program</a> and mention me in your application.
  If you have any questions, feel free to reach out by email!
  </p> 
</div>
-->

<!-- ========== PUBLICATIONS ==========
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

-->

<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#nlp">NLP</div></li>
    <li><div class="button" data-ref="#stats">STATS</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="nlp">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "nlp" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

        <div class="four columns">
          <div class="project-container">
            <div class="project-image-container">
              <a href="{{ project.url }}">
                <img src="{{ project.thumbnail }}" class="u-max-full-width" />
              </a>
            </div>
            <div class="project-caption">
              <b>{{ project.title }}</b> <br/>
              {{ project.subtitle }}
            </div>
          </div>
        </div>

        {% if index_modulo == 2 or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="stats">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "stats" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

        <div class="four columns">
          <div class="project-container">
            <div class="project-image-container">
              <a href="{{ project.url }}">
                <img src="{{ project.thumbnail }}" class="u-max-full-width" />
              </a>
            </div>
            <div class="project-caption">
              <b>{{ project.title }}</b> <br/>
              {{ project.subtitle }}
            </div>
          </div>
        </div>

        {% if index_modulo == 2 or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

        <div class="four columns">
          <div class="project-container">
            <div class="project-image-container">
              <a href="{{ project.url }}">
                <img src="{{ project.thumbnail }}" class="u-max-full-width" />
              </a>
            </div>
            <div class="project-caption">
              <b>{{ project.title }}</b> <br/>
              {{ project.subtitle }}
            </div>
          </div>
        </div>

        {% if index_modulo == 2 or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


<!-- ========== AWARDS ========== -->
<div class="docs-section" id="awards">
  <h4>Academic Awards</h4>
  <p>
    <dl>
      <dt><b>2017 Third-Class Scholarship</b></dt>
    <dd>Awarded for academic excellence, Based on ranking within top 15% of GPA among all students</dd>
      <dt><b>2016 Third-Class Scholarship</b></dt>
    <dd>Awarded for academic excellence, Based on ranking within top 15% of GPA among all students</dd>
      <dt><b>2015 Second-Class Scholarship</b></dt>
    <dd>Awarded for academic excellence, based on ranking within top 10% of GPA among all students</dd>
    <dt><b>2014 Freshman Scholarship</b></dt>
    <dd>Awarded for exceptional performance in the entrance examination</dd>
    </dl>
  </p>

</div>

<!-- ========== COURSES ========== -->
<div class="docs-section" id="certificates">
  <h4>Certificates</h4>
  <p>
    <dl>
    <dt><b>CFA (Chartered Financial Analyst) Level III Candidate </b></dt>
    <dd>Level II Passed Date: May 2023 </dd>
    </dl>
  </p>

  <p>
    <dl>
    <dt><b>Coursera Course Certificates</b></dt>
  <dd><b>Decision Making and Reinforcement Learning</b> | Columbia University | On Going </dd>
  <dd><b>Generative AI with Large Language Models</b> | deeplearning.ai, AWS | August 2023 [<a href="https://coursera.org/share/963774de1e21bdd61a6c997fb92edc50" target="_blank">certificate</a>] </dd>
  <dd><b>The Unix Workbench</b> | Johns Hopkins University | September 2017 [<a href="https://www.coursera.org/account/accomplishments/verify/F9N5CPBM2X79" target="_blank">certificate</a>]</dd>
  <dd><b>Data Processing Using Python</b> | Nanjing University | February 2017 [<a href="https://coursera.org/share/f1990944b1c246587aaf0d902152cccd" target="_blank">certificate</a>]</dd>
  <dd><b>Machine Learning</b> | Stanford University | November 2016  [<a href="https://coursera.org/share/02651113a18723258d0f4402f01e4e55" target="_blank">certificate</a>]</dd>
    </dl>
  </p>

    <p>
    <dl>
    <dt><b>US MCM Competition (Mathematical Contest in Modeling)</b></dt>
    <dd>The effect of self-driving cars on the traffic flow in the bottleneck model [<a href={{ "/assets/mcm/mcmpaper.pdf" | prepend: site.baseurl }} target="_blank">thesis</a>]</dd>
  <dd>Honorable Mention | April 2017 </dd>
    </dl>
  </p>

</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Curriculum Vitae</h4>

  <p>Full Resume in <a href={{ "/assets/cv/Resume_Guanghui.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.(Updated on Aug 23, 2023)</p>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


<div class="docs-section" id="other">
    <h4>Miscellaneous</h4>
In my spare time, I am a tough boxer trained by coach <a href="https://www.instagram.com/shengming1933/" target="_blank">Shengming Huang</a>. Hope to step into a real boxing ring someday;)
</div>


<div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>.
  </p>
</div>